* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 10px;
    background-color: #96b6e0;
    font-weight: 800;
}

h2,
h3,
h4 {
    text-align: center;
    padding: 10px;
}

/*----------------------------------------------------------------------------*/
/*Background Img section*/
.backgroundImage,
.backgroundVideo {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    display: inline-block;
    object-fit: cover;
}

.textOnImages {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.firstText {
    font-size: 40px;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.secondText {
    font-size: 30px;
}

/*----------------------------------------------------------------------------*/
/*First Intro section*/
.firstSection {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.introSection {
    max-width: 100%;
    height: auto;
    display: block;
}

.introContainer {
    font-size: large;
    padding-top: 10px;
}

.infoContainer {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.card {
    max-width: 320px;
    min-width: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: var(--primary-color);
    border: none;
}

.imagesInCard {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin: 5px;
}

.cardPara {
    padding: 10px;
    margin: auto;
    color: var(--secondary-color);
    text-align: center;
    font-size: larger;
    font-weight: 750;
}

.cardFooter {
    background-color: var(--primary-color);
}

.textContainer {
    margin-left: 10px;
}

.hurryText {
    font-weight: 600;
    font-size: 25px;
    color: var(--secondary-color);
    text-shadow: 2px 2px var(--primary-color);
    text-align: center;
}

.travelingText {
    padding: 10px;
    text-align: justify;
    justify-content: center;
    animation-delay: 0.5s;
    font-size: 1.5rem;
}

/*----------------------------------------------------------------------------*/
/*Search Section*/
.searchSection {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

/*----------------------------------------------------------------------------*/
/* all trips section*/
.tourListContainer {
    margin-left: 5%;
    margin-right: 5%;
}

.tripsSection {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.allTripsSection {
    margin-top: 50px;
}

/*----------------------------------------------------------------------------*/
/*Gallery Section*/
.gallerySection {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

.galleryContainer {
    margin-top: 10px;
}

.masonryImages {
    transition: 0.2s;
}

.masonryImages:hover {
    transform: scale(1.1);
}

/*----------------------------------------------------------------------------*/
/*Testimonial Container*/
.testimonialSection {
    margin-top: 50px;
}

.testimonialContainer {
    margin-left: 5%;
    margin-right: 5%;
}

.testimonialDiv {
    display: flex;
}

.slider {
    display: flex;
}

.peopleImg {
    width: 6rem;
    height: 6rem;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    margin: 15px;
    padding: 0;
}

/*----------------------------------------------------------------------------*/
/*NEWS letter section*/
.NewsSection {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

/*----------------------------------------------------------------------------*/
/*Message Container*/
.messageContainer {
    position: relative;
    top: 10%;
    min-height: 500px;
    width: 100vw;
    padding: 80px;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: var(--primary-color);
    background-color: rgb(224, 224, 224);
}

.thankyouText {
    padding: 50px;
    font-size: 25px;
    font-weight: 600;
    background-color: #96b6e0;
}

.bookBtn2 {
    position: absolute;
    width: 50%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    margin: 10px;
}

/*----------------------------------------------------------------------------*/
/*Our Services Section*/
.servicesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(223, 239, 253);
    overflow: hidden;
    min-height: 250px;
}

.serviceTitle {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-Color);
}

/*----------------------------------------------------------------------------*/
/*Experience Section*/
.experinceMainDiv {
    display: flex;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 0.5px solid rgb(206, 206, 248);
    border-bottom: 0.5px solid rgb(206, 206, 248);
}

.expText {
    font-size: 18px;
    text-align: center;
}

.experienceSection {
    width: 60%;
    padding: 0;
    margin: 0;
}

.experienceContent {
    justify-content: space-between;
}

.counterWrapper {
    display: flex;
    margin: auto;
    width: 50%;
    padding: 10px;
    justify-content: center;
}

.counterBox p {
    padding: 2px;
    margin-top: 10px;
}

.counterBox span {
    margin: 5px;
    padding: 10px;
    height: 100px;
    background: var(--secondary-color);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}

.expImgContainer {
    width: 40%;
    margin-top: 50px;
    display: inline;
}

.expImg {
    height: 200px;
}

/*----------------------------------------------------------------------------*/
/* About and Contact Us page css */
.BackgroundDiv,
.contactusDiv {
    position: relative;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    width: 100vw;
    height: 100vh;
}

.aboutBackgroundImage,
.contactImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textDiv {
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    margin: auto;
    padding: 20px;
    background-color: white;
}

.textDiv p {
    justify-content: space-between;
}

.contactusDiv {
    position: relative;
}

.planeImg {
    position: absolute;
    animation-name: runPlaneAnimation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: 2s;
}

.contactFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.contactImageDiv {
    width: 40%;
}

.contactImageDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookingFormDiv {
    width: 60%;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
}

.queryText {
    text-align: center;
}

.bookingForm input,
textarea {
    width: 100%;
    border-color: var(--secondary-color);
}

.openingHoursSection {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.openingHoursSection p {
    font-weight: 500;
    text-align: center;
    padding: 0;
    margin: 0;
}

.openingHoursSection span {
    text-align: center;
}

.openingHourTitle {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-Color);
}


.mapSection {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

/*________________Search result Page__________________________*/
.searchResultDiv {
    margin-top: 50px;
}

/*-______________GetBookings page____________________________*/
.bookingInfoDiv {
    background-color: rgb(233, 233, 244);
    ;
    padding: 10px;
    margin: 20px;
}

.bookingInfoDiv h5 {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
}

.bookingInfoDiv p {
    padding-left: 10px;
}

.totalTextOnUserBookingPage {
    float: right;
    margin: 10px;
}

.textNumber::after {
    content: "";
    clear: both;
    display: block;
}

/*----------------------------------------------------------------------------*/
/*Media Quaries*/
@media only screen and (max-width: 1200px) {
    .cardContainer {
        width: 48%;
    }

    .contactFormContainer {
        display: block;
    }

    .contactImageDiv {
        display: none;
    }

    .bookingFormDiv {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .introSection {
        display: block;
    }

    .introContainer,
    .infoContainer {
        width: 100%;
    }

}

@media only screen and (max-width: 900px) {
    .firstText {
        font-size: 25px;
    }

    .secondText {
        font-size: 15px;
    }

    .imagesInCard {
        transform: scale(0.9);
        padding: 0;
        margin: 0;
    }

    .experinceMainDiv {
        display: block;
        margin-left: 5%;
        margin-right: 5%;
    }

    .expImg {
        display: none;
    }

    .counterBox {
        width: 100%;
    }

    .planeImg {
        height: 50px;
        width: 50px;
    }

    .experienceSection {
        width: 100%;
    }

}

@media only screen and (max-width:780px) {
    .infoContainer {
        display: none;
    }

}

@media only screen and (max-width: 580px) {
    .travelingText {
        font-size: 1rem;
    }

    .backgroundImage {
        display: none;
    }

    .card {
        display: block;
        flex-direction: unset;
    }

    .introSection {
        display: block;
    }

    .imagesInCard {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .cardContainer {
        width: 100%;
    }

    .introContainer {
        width: 100%;
    }
}

/*--------------------Animations-------------------------*/
.animation {
    position: relative;
    transition: 2s;
}

.active2 {
    animation: moveFromRight 2s linear;
}

.fadeBottom {
    animation: moveFromBottom 2s linear;
}

.fadeLeft {
    animation: moveFromLeft 2s linear;
}

.fadeRight {
    animation: moveFromRight 2s linear;
}


@keyframes moveFromBottom {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveFromLeft {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveFromRight {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes runPlaneAnimation {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 25%;
        top: 0px;
    }

    50% {
        left: 50%;
        top: 0px;
    }

    75% {
        left: 75%;
        top: 0px;
    }

    100% {
        left: 84%;
        top: 0px;
    }
}