*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
h1{
    text-align: center;
    padding: 10px;
    background-color: #96b6e0;
    font-weight: 800;
}

h2,h3{
    text-align: center;
    padding: 10px;
}
/*Background Img section*/
.backgroundImage, .backgroundVideo{
    width: 100%;
    height:700px;
    background-attachment: fixed;
    position: relative;
    display: inline-block;
    object-fit:fill;
}
.textOnImages{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.firstText{
    font-size: 40px;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.secondText{
    font-size: 30px;
}

/*First Intro section*/
.firstSection{
    position: relative;
    margin-left:5%;
    margin-right:5%;
    margin-top:50px;
}
.introSection{
    max-width: 100%;
    height: auto;
    display: flex;
}
.introContainer{
    width:38%;
    font-size: large;
    padding-top: 10px;
}
.infoContainer{
    display: flex;
    width:62%;
    flex-wrap: wrap;
    justify-content:space-between;
    overflow: hidden;
    margin-left:10px;
}
.card{
    margin:10px;
    max-width:320px;
    min-width:100px;
    color: var(--secondary-color);
    font-size: large;
    font-weight: 500;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    background-color: var(--primary-color);
}

.imagesInCard{
    max-width:100%;
    height:250px;
    transition: transform 0.3;
    object-fit: cover;
}
.cardPara{
    padding:10px;
    margin:auto;
    color: var(--secondary-color);
    text-align: center;
}
.cardFooter{
    background-color: var(--primary-color);
}
.textContainer{
    margin-left:10px;
}
.hurryText{
    font-weight: 600;
    font-size: 25px;
    color: var(--secondary-color);
    text-shadow: 2px 2px var(--primary-color);
    text-align: center;
}
.travelingText{
    padding: 10px;
    text-align: justify;
    justify-content:center;
}

/*Search Section*/
.searchSection{
    margin-top:50px;
    margin-left: 10%;
    margin-right:10%;
}


/*Special Offers section*/
.containerTop{
    display:flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right:5%;
    justify-content: space-between;
}
.cardContainer{
    color: var(--primary-color);
    background-color:#f3af1b;
    margin:5px;
    width:24%;
    overflow: hidden;
}
.cardParaHeading{
    font-size: large;
    font-weight: 600;
}
.MoreDetails{
    display: flex;
    justify-content: space-between;
}
.cardFooter2{
    padding: 15px;
    text-align: center;
}
.imgContainer {
    width: 100%;
    height: 300px;
    padding: 0;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    position: relative;
}
.images{
    width:100%;
    height:300px;
    padding: 0;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    object-fit: cover;
    position: relative;
}
.images:hover{
    transform: scale(1.1);
}
.priceText{
    font-size: 22px;
    font-weight: 600;
}
.offerText{
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background-color: var(--secondary-color);
    color: white;
    padding: 5px;
    border-radius: 20px;
    font-size: large;
    padding: 10px;
}

/* all trips section*/
.tourListContainer {
    margin-left: 5%;
    margin-right: 5%;
}
.tripsSection{
    margin-top: 50px;
}
.allTripsSection {
    margin-top: 50px;
}


/*Our Services Section*/
.servicesContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right:10%;
    background-color: rgb(223, 239, 253);
    overflow: scroll;
    min-height: 250px;
}
.serviceTitle{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding:10px;
    background-color: var(--primary-color);
    color:var(--text-Color);
}

/*Experience Section*/
.experinceMainDiv {
    display: flex;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    border-top: 0.5px solid rgb(206, 206, 248);
    border-bottom: 0.5px solid rgb(206, 206, 248);
}
.expText{
    font-size: 18px;
    text-align: center;
}
.experienceSection{
   width:60%;
}
.experienceContent{
    justify-content:space-between;
}
.counterWrapper{
    display: flex;
    margin: auto;
    width: 50%;
    padding: 10px;
    justify-content: space-between;
}
.counterBox p{
    padding: 2px;
    margin-top:10px;
}
.counterBox span{
    margin: 5px;
    padding:10px;
    height:100px;
    background: var(--secondary-color);
    color: white;
    font-size: 1.5rem;
    font-weight:600;
    border-radius: 10px 5px 10px 5px;
}

.expImgContainer{
    width:40%;
    margin-top: 50px;
    display: inline;
}
.expImg{
    height:200px;
}

/*Gallery Section*/
.gallerySection{
    margin-left:10%;
    margin-right:10%;
    margin-top:50px;
}
.galleryContainer{
    margin-top:10px;
}
.masonryImages{
    transition: 0.2s;
}
.masonryImages:hover{
    transform:scale(1.1);
}

/*Testimonial Container*/
.testimonialSection{
    margin-top: 50px;
}
.testimonialContainer{
    margin-left:10%;
    margin-right:10%;
}
.testimonialDiv{
    display: flex;
}
.slider{
    display: flex;
}
.peopleImg{
    width: 6rem;
    height: 6rem;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    margin:15px;
    padding:0;
}

/*NEWS letter section*/
.NewsSection{
    margin-left:10%;
    margin-right:10%;
}
@media only screen and (max-width: 1200px) {
    .cardContainer{
        width: 48%;
    }
}
@media only screen and (max-width: 1000px){
    .introSection{
        display: block;
    }
    .introContainer, .infoContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .backgroundImage{
        height: 350px;
    }
    .imagesInCard {
        transform: scale(0.8);
        padding:0;
        margin:0;
    }
    .experinceMainDiv {
        display: block;
        margin-left: 5%;
        margin-right: 5%;
    }
    .expImg{
        display: none;
    }
    .experienceSection{
        width:100%;
    }
    
}

@media only screen and (max-width: 580px){
    .backgroundImage{
        display: none;
    }
    .card{
        display: block;
        flex-direction:unset;
    }
    .introSection{
        display: block;
    }
    .imagesInCard {
        width:100%;
        padding:0;
        margin:0;
    }
    .cardContainer{
        width:100%;
    }
}