.tripsHeading {
    background-image: url("../Images/backgroundPlaces.jpeg");
    height: 450px;
    width: 100%;
    background-size: cover;
    padding: 0;
}

.SearhSection {
    margin-top: 30px;
    padding: 0;
}

.tourListSection {
    margin-top: 50px;
}

.pagination span {
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.activePage {
    background-color: var(--secondary-color);
    color: white !important;
}