.toursContainer{
    position: relative;
}
.tourImages{
    width:100%;
    height:500px;
    display: block;
    padding: 0;
    margin:0;
    object-fit: cover;
}
.tourName{
    position: absolute;
    top:20px;
    left:50%;
    width:max-content;
    padding:10px;
    background-color: white;
    color: var(--primary-color);
    transform: translate(-50%, -50%);
}
.tourContent{
    text-align: center;
    width: 100%;
}
.rating{
    text-align: center;
}
.tourinfo{
    display: flex;
    text-align: center;
    width:80%;
    margin: auto;
    font-size: 25px;
}
.tourinfo div{
    width:33.33%;
    margin: 5px 10px;
    padding: 10px;
    background-color: rgb(223, 239, 253);;
    border-radius: 20px;
}
.cardHeading{
    color: var(--primary-color);
}
.titleText{
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-color);
    margin-top: 20px;
}
.extraInfoContainer{
    background-color: rgb(223, 239, 253);
}
.extraInfoContainer ul{
    list-style:inherit;
}
.tripDayPlansContainer{
    margin-top: 10px;
    display: flex;
}
.extraInfoContainer{
    width:25%;
    padding:10px;
    margin:20px;
}
.planContainer{
    width:75%;
    margin:20px;
}
.planContainer h2{
    background-color:rgb(223, 239, 253) ;
    color: var(--primary-color);
}
.formData{
    text-align: center;
}
.rating span{
    font-size: 1.5rem;
    margin:10px;
    align-items: center;
    cursor:pointer;
}
.inputArea{
    margin-top:5px;
}
.inputField{
    width:450px;
    margin-right: 10px;
}
.reviewsSection{
    background-color: rgb(225, 222, 222);
    padding:10px;
    padding-bottom: 20px;
}
.starIcon{
    height: 30px;
}
.reviewContent{
    display:flex;
}

@media screen and (max-width: 1200px) {
    .planContainer{
        width:66%;
    }
    .extraInfoContainer{
        width:35%;
    }
}

@media screen and (max-width: 800px) {
    .tripDayPlansContainer, .tourinfo{
        display: block;
    }
    .extraInfoContainer,.planContainer, .tourinfo div{
        width:100%;
    }
}
