.footerMainContainer{
    margin-top: 50px;
    padding: 10px;
    background-color: #faf9f6;
}
.mediaIcon{
    height: 34px;
    width:34px;
}
.list{
    background-color: #faf9f6;
}
.quickLinks a {
    text-decoration: none;
    color:  #002F6C;
    font-weight: 600;
    font-size: large;
}